body {
    background-color: #ecf0f3;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;/*عشان يلف براحه مش ينتقل مره واحده*/
}

header {
    text-align: center;
    background-color: #f4f4f4;
}

section {
   
    margin: 20px 0;
}

h1,
h2 {
    font-family: serif;
}

ul {
    list-style: none;
    text-decoration: none;
    padding: 0;
}


header .navebar {
    background-color: white;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1;/*عشان الانيميشن ميظهرش فوقه*/

}

header .navebar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    padding: .5rem .5rem;
}

#home #namelogo {
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

header .navebar nav ul {
    display: flex;
    justify-content: center;
    align-items: center;

}

header .navebar nav ul a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}


header .h-content {
    display: flex;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    height: 100%vh;
    /* الارتفاع قد الشاشه*/
    align-items: center;
    padding: 5rem 2rem;
    /* background-color: yellow; */


}

header .h-content img {
    max-width: 300px;
    margin-right: 10px;
    /* المسافة الكبيرة بين الصورة والنص  */
    width: 50%;
    padding: 5rem 10rem 5rem 20rem;
    ;
    left: 5rem;
    height: auto;
    /*عشان النسبه تكون ثابته */
    /* background-color: red;  */
}

header .h-content p {
    margin: 10px 0;
}

header .h-content .h-text {
    /* background-color: brown;  */
    margin-left: 20px;
    width: auto;
}





#home .para {
    font-size: 20px;
    margin: 10px 5;
    color: rgb(7, 33, 39);
    font-weight: 500;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

#home #Social {
    margin: 20px 0 10px;
}

#home #Social a {
    text-decoration: none;
    color: rgb(7, 33, 39);
    font-size: 20px;
    margin: 0 10px;

}

#home #Social a :hover {
    transform: scale(0.9);
    color: white;
    background-color: rgb(7, 33, 39);
    transition: all 0.9s ease;
    border-radius: 50%;

    
}

#home .meabuot {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(28, 107, 122);
    color: white;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#home .meabuot:hover {
    transform: scale(1.1);
    /*بصغر بيها */
    background-color: rgb(7, 33, 39);
    text-decoration: none;
    transition: background-color 0.5s ease;
    transition: all 1s ease;
    border-radius: 80%;
}


#about {
    padding: 50px 20px;
    background-color: #f0f3f5;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin: 60px auto;
    max-width: 1100px;
}

#about h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    color: rgb(7, 33, 39);
    text-shadow: 21px 2px 5px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
}





#skills h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    color: rgb(7, 33, 39);
    text-shadow: 21px 2px 5px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
}

.skills-container {
    padding: 50px 20px;
    background-color: #cde1ee;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin: 60px auto;
    max-width: 1100px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#t {
    padding: 10px 0;
    border-collapse: separate;
    width: 100%;
    border-spacing: 40px;
    background-color: rgb(28, 107, 122);
    border-radius: 20px;
}

.skills-content table {
    width: 100%;
    /* اجعل الجدول يأخذ عرض الـ container */
    border-collapse: separate;
    /* لدمج الحدود بين الخلايا */
    margin: 0 auto;
    /* لتوسيط الجدول */
    border-spacing: 40px;
    /* مسافة بين الخلايا */

}

.skills-content td {
    padding: 10px;
    /* مسافة داخلية */
    text-align: center;
    /* توسيط النصوص والصور */
}

.skills-content td section {
    background-color: #fafcfd;
    /* لون خلفية القسم أبيض */
    padding: 10px;
    /* لإعطاء مسافة داخلية */
    border-radius: 5px;
    /* لجعل الحواف مستديرة شوية (اختياري) */
    display: flex;
    /*التحكم في ترتيب و توزيع العناصر*/
    flex-direction: column;
    /*ترتيب العناصر في الاتجاه العمودي */
    justify-content: center;
    /*بنقول ان الصور هتكون ف نص العمود */
    align-items: center;
    min-height: 120px;
    /* حد أدنى للارتفاع لتساوي الصفوف */
    box-sizing: border-box;
    /* ليشمّل الـ padding في الحساب */
}

.skills-content img {
    width: 50px;
    /* نصغر حجم الصور */
    height: auto;
    /* للحفاظ على النسبة */
}

.skills-content p {
    margin: 5px 0;
    /* تقليل المسافة حول النصوص */
    font-size: 14px;
    /* نصغر حجم الخط إذا لزم الأمر */
}

.skills-content table tr td {
    width: 33.33%;
    /* توزيع متساوي للأعمدة */
}

#edit {
    /*عشان اكبر الصور الصغيره*/
    width: 80px;
}

#larger {
    padding-top: 20px;
    padding-bottom: 5px;
    width: 300px;
    height: 140px;
}

.skills-content td section :hover {
    transform: scale(1.1);
    /*بصغر بيها */
    text-decoration: none;
    transition: background-color 0.5s ease;
    transition: all 1s ease;

}




#Services h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    color: rgb(7, 33, 39);
    text-shadow: 21px 2px 5px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
}

.Services-contener {
    background-color: #bdd9eb;
    text-align: center;
    padding: 20px;
    max-width: 1100px;
    margin: 0 auto;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#s-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

#s-table td {
    padding: 15px;
    vertical-align: top;
    width: 50%;
}

.service-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 250px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    /*بصغر بيها */
    text-decoration: none;
    transition: background-color 0.5s ease;
    transition: all 1s ease;
}

.service-card img {
    width: 100px;
    height: auto;
    margin-bottom: 15px;
}

.service-card h3 {
    margin: 0 0 10px;
    font-size: 20px;
    color: rgb(7, 33, 39);
}

.service-card p {
    margin: 0;
    font-size: 14px;
    text-align: center;
}





#portfolio h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    color: rgb(7, 33, 39);
    text-shadow: 21px 2px 5px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
}

#portfolio {
    background-color: #ecf0f3;
}

.p-conternar {
    text-align: center;
    padding: 20px;
    max-width: 1100px;
    margin: 0 auto;
    background-color: #b5d8ee;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#portfolio table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

#portfolio td {
    padding: 15px;
    vertical-align: top;
    width: 33.33%;
    /* ثلاث كروت في الصف */
}

.portfolio-card {
    background-color: white;
    padding-top: 80px;

    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
    /* ارتفاع موحد */
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.portfolio-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    /*بصغر بيها */
    text-decoration: none;
    transition: background-color 0.5s ease;
    transition: all 1s ease;
}


.portfolio-card a {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
    color: rgb(152, 152, 243);
}

.portfolio-card a :hover {
    text-decoration: none;
    background-color: #cbe7f6;
    font-size: large;
    font-weight: 100px;
    color: #5b9bc3;
    padding: 5px 10px;
    /* لعمل خلفية مرئية حول الرابط */
    border-radius: 5px;
    transition: all 0.3s ease;
    /* لتأثير سلس */
}

.portfolio-card img {
    width: 250px;
    /* حجم موحد للصور */
    height: auto;
    margin-bottom: 15px;
}

.portfolio-card h2 {
    margin: 0 0 10px;
    font-size: 20px;
}

.portfolio-card a {
    text-decoration: none;
}



#contact {
    padding: 4rem 0;
}

#Contact h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    color: rgb(29, 135, 159);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
}

.C-container {
    text-align: center;
    padding: 20px;
    max-width: 1100px;
    margin: 0 auto;
    background-color: #aed6ef;
    box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.2);
}

#Contact table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: transparent;
    padding: 0;
}

#Contact td {
    padding: 15px;
    vertical-align: middle;
    width: 50%;
}

.row1,
.row2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row1 img {
    max-width: 100%;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

input,
textarea {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

textarea {
    resize: vertical;
}

.but {
    padding: 10px 20px;
    background-color: rgb(7, 33, 39);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.but:hover {
    background-color: rgb(29, 135, 159);
    transition: background-color 0.5s ease;
    transition: all 1s ease; 
}

#footer{
    background-color: rgb(7, 33, 39);
    color: white;
    padding: 2px 0 ;
    text-align: center;
}

